/* src/pages/HomePage.module.css */
/* HomePage.module.css */

.container {
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .movieItem {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px; /* You can adjust this width */
  }
  
  .movieItem:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .movieImage {
    width: 100%;
    height: auto;
  }
  
  .movieTitle {
    padding: 10px;
    font-size: 1rem;
    color: #333;
    text-align: center;
  }
  